<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Delete question</title>
    <style>
        body {
            background-color: lightblue;
            }
        p {
            font-family: verdana;
            font-size: 20px;
            }
	</style>
</head>
<body>
<p>Are you sure ?</p>
<div style='float:left'>
<form action="/question/{{ question.id }}/delete" method="POST">

   <button  title="Delete that s***" type="submit">Yes!</button>

</form>
</div>

<div>
<form action="/question/{{ question.id }}">
    <button title="Go back to question" type="submit">No!</button>
</form>
</div>
</form>
</form>
</body>
</html>