<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Ask Mate</title>
    <style>
        body {
            background-color: lightblue;
            text-align: center;
            }
        p {
            font-family: verdana;
            font-size: 20px;
            }
	</style>
</head>
<body>
{% if "user" in session %}
            <h1>Welcome {{session["user"]}}, to ASK MATE!</h1>
        {%else%}
            <h1>Welcome to ASK MATE!</h1>
        {% endif %}
<form action="/login" method="GET">
        <button type="submit">Login</button>
    </form>
<form action="/logout" method="GET">
        <button type="submit">Logout</button>
    </form>
<a href="/list">Go to the list of questions</a><br><br>
<a href="/add-question">Ask a question</a><br><br>
<a href="/users">Users list</a><br><br>

<form action="/search" method="GET">
        <br><br>Search for question:<br>
        <input type="text" name="question"><br>
        <button type="submit">Search!</button>
    </form>
<table style="width: 100%" >
            <br><br>
            <tr>
                <th>Latest questions:</th>
            </tr>
            {% for question in last_five %}
            <tr>
                <td><a href=" {{ url_for('display_question', question_id=question.id) }}">{{ question.title }}</a></td>
            </tr>
            {% endfor %}
        </table>
</body>

