{%extends "layout.html"%}

{%block content%}

    <div id="window">
      <form action="" method="post">
          <label>
              <input type="text" id="input1" placeholder="Username" name="username" value="{{
                request.form.username }}">
          </label>
          <label>
              <input type="password" id="input1" placeholder="Password" name="password" value="{{
              request.form.password }}">
          </label><br>
          <input type="submit" id="input2" value="Login">
      </form>
        <p class="annoucement">Or if you dont have account:</p>
        <a href="/register"><input type="submit" id="input2" value="Sign UP"></a>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>


{%endblock%}