<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <style>
        body {
            background-color: lightblue;
            text-align: center;
            }
        p {
            font-family: verdana;
            font-size: 20px;
            }
	</style>
</head>
<body>

<div class="register">
  <div class="heading">
    <h2>Register new account</h2>
      <form action="" method="POST">
          <input type="text" name="register-username" placeholder="Your username" required><br>
          <input type="email" name="register-email" placeholder="Your email" required><br>
          <input type="password" name="register-password" placeholder="Password" required><br>
          <button type="submit">Sign up!</button>
      </form>
  </div>
 </div>

</body>
</html>