{%extends "layout.html"%}
{% block logo %}   <div id="logo"><h1>User {{ user[0]['username'] }}</h1></div>
{% endblock %}
{%block content%}
        <div class="question question disabled">
        <h2>{{ user[0]['username'] }}
            {% if user[0]['admin']==True %}
                <span class="material-symbols-outlined">manage_accounts</span>
                </h2>
            {% endif %}
        <h3>{{user[0]['email']}}</h3>
        <span class="material-symbols-outlined">assignment_ind</span>{{ user[0]['id'] }}&emsp;
        <span class="material-symbols-outlined">grade</span>&ensp;{{ user[0]['reputation'] }}&emsp;
        <span class="material-symbols-outlined">quiz</span>&emsp;
        <span class="material-symbols-outlined">forum</span>&emsp;
        <span class="material-symbols-outlined">schedule</span>&ensp;{{user[0]['registration_date']}}
        </div>

    <h2 style="text-align: center;">Questions:</h2>

    {% for question in questions %}
        <a href=" {{ url_for('display_question', question_id=question.id) }}">
            <div style="margin-left: 15%;margin-right: 15%;" class="question">
            <h2>{{question.title}}</h2>
            <h3>{{question.message}}</h3>
            <span class="material-symbols-outlined">visibility</span>&ensp;{{question.view_number}}&emsp;
            <span class="material-symbols-outlined">trending_up</span>&ensp;{{question.vote_number}}&emsp;
            <span class="material-symbols-outlined">schedule</span>&ensp;{{question.submission_time}}
        </div></a>
    {% endfor %}
    <h2 style="text-align: center;">Answers:</h2>
        {% for answer in answers %}
        <a href=" {{ url_for('display_question', question_id=answer.id) }}">
            <div style="margin-left: 15%;margin-right: 15%;" class="question">
            <h2>{{ answer.title}}</h2>
            <h3>{{ answer.message}}</h3>
            <span class="material-symbols-outlined">trending_up</span>&ensp;{{ answer.vote_number}}&emsp;
            <span class="material-symbols-outlined">schedule</span>&ensp;{{ answer.submission_time}}
        </div></a>
    {% endfor %}
    <h2 style="text-align: center;">Comments:</h2>
       {% for comment in comments %}
        <a href=" {{ url_for('display_question', question_id=comment.id) }}">
            <div style="margin-left: 15%;margin-right: 15%;" class="question">
            <h2>{{comment.title}}</h2>
            <h3>{{comment.message}}</h3>
            <span class="material-symbols-outlined">schedule</span>&ensp;{{comment.submission_time}}
        </div></a>
    {% endfor %}
{%endblock%}