{%extends "layout.html"%}
{%block content%}
    <h1>Users list</h1>
    <a href="/">Return to Main Page</a><br>
    <table>
            <thead>
                <tr>
                    <td>Username</td>
                    <td>password</td>
                    <td>email</td>
                    <td>is admin</td>
                    <td>registration date</td>
                    <td>Reputation</td>
                </tr>
            </thead>
            <tbody>
                {% for r in users_details %}
                    <tr>
                        <td><a href="/user/{{ r['id'] }}">{{ r['username'] }}</a></td>
                        <td>{{ r['password'] }}</td>
                        <td>{{ r['email'] }}</td>
                        <td>{{ r['admin'] }}</td>
                        <td>{{ r['registration_date'] }}</td>
                        <td>{{ r['reputation'] }}</td>

                    </tr>
                {% endfor %}
            </tbody>
    </table>

{%endblock%}