{%extends "layout.html"%}
{% block logo %}   <div id="logo"><h1>User {{ user[0]['username'] }}</h1></div>
{% endblock %}
{%block content%}
        <div class="question question disabled">
        <h2>{{ user[0]['username'] }}
            {% if user[0]['admin']==True %}
                <span class="material-symbols-outlined">manage_accounts</span>
                </h2>
            {% endif %}
        <h3>{{user[0]['email']}}</h3>
        <span class="material-symbols-outlined">assignment_ind</span>{{ user[0]['id'] }}&emsp;
        <span class="material-symbols-outlined">grade</span>&ensp;{{ user[0]['reputation'] }}&emsp;
        <span class="material-symbols-outlined">quiz</span>&emsp;
        <span class="material-symbols-outlined">forum</span>&emsp;
        <span class="material-symbols-outlined">schedule</span>&ensp;{{user[0]['registration_date']}}
        </div>

    <h2>list of all questions the user has created</h2><br>
    <table>
            <thead>
                <tr>
                    <td>Question title</td>
                </tr>
            </thead>
            <tbody>
                {% for r in user %}
                    <tr>
                        <td>lorem ipsum ...  </td>


                    </tr>
                {% endfor %}
            </tbody>
    </table>

    <h2>list of all answers the user has created</h2><br>
        <table>
                <thead>
                    <tr>
                        <td>answer</td>
                    </tr>
                </thead>
                <tbody>
                    {% for r in user %}
                        <tr>
                            <td>lorem ipsum ...</td>


                        </tr>
                    {% endfor %}
                </tbody>
        </table>

    <h2>list of all comments the user has created</h2><br>
        <table>
                <thead>
                    <tr>
                        <td>Comments</td>
                    </tr>
                </thead>
                <tbody>
                    {% for r in user %}
                        <tr>
                            <td>lorem ipsum ...</td>


                        </tr>
                    {% endfor %}
                </tbody>
        </table>
{%endblock%}